.toggler {
    padding: 20px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

.option {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 5px;
}

.active-option {
    background-color: #60b6fb;
    box-shadow: 5px 5px 12px 0px #a2d6f9;
    z-index: 3;
}